.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.row {
  display: flex;
  margin: 10px;
  justify-content: space-around;
}
.item {
  padding: 10px;
  background-color: lightblue;
}
